<{* $Id: view_atom.html,v 1.1 2007/05/15 05:27:24 ohwada Exp $ *}>

<h4>ATOM</h4>
<table cellspacing="1" class="outer">
<tr><th colspan="2" align="left">
  <{if ($channel.title != "") && ($channel.link != "") }>
    <a href="<{$channel.link}>" target="_blank"><font color="white"><{$channel.title}></font></a>
  <{elseif $channel.link != ""}>
    <a href="<{$channel.link}>" target="_blank"><font color="white"><{$channel.link}></font></a>
  <{elseif $channel.title != ""}>
    <font color="white"><{$channel.title}></font>
  <{else}>
    <font color="white">No Site Title &amp; Link</font>
  <{/if}>
</th></tr>
<{if $channel.link_self != ""}>
  <tr>
  <td valign="top" class="head"><{$lang_site_link_self}></td>
  <td class="odd"><a href="<{$channel.link_self}>" target="_blank"><{$channel.link_self}></a></td>
  </tr>
<{/if}>
<{if $channel.subtitle != ""}>
  <tr>
  <td valign="top" class="head"><{$lang_site_subtitle}></td>
  <td class="odd"><{$channel.subtitle}></td>
  </tr>
<{/if}>
<{if $channel.updated_long != ""}>
  <tr>
  <td valign="top" class="head"><{$lang_site_updated}></td>
  <td class="odd"><{$channel.updated_long}></td>
  </tr>
<{elseif $channel.updated != ""}>
  <tr>
  <td valign="top" class="head"><{$lang_site_updated}></td>
  <td class="odd"><{$channel.updated}></td>
  </tr>
<{elseif $channel.modified_long != ""}>
  <tr>
  <td valign="top" class="head"><{$lang_site_updated}></td>
  <td class="odd"><{$channel.modified_long}></td>
  </tr>
<{elseif $channel.modified != ""}>
  <tr>
  <td valign="top" class="head"><{$lang_site_updated}></td>
  <td class="odd"><{$channel.modified}></td>
  </tr>
<{/if}>
<tr>
  <td valign="top" class="head"><{$lang_site_id}></td>
  <td class="odd"><{$channel.id|default:"&nbsp;"}></td>
</tr>
<tr>
  <td valign="top" class="head"><{$lang_site_author_name}></td>
  <td class="odd"><{$channel.author_name|default:"&nbsp;"}></td>
</tr>
<{if $channel.author_email != ""}>
  <tr>
  <td valign="top" class="head"><{$lang_site_author_email}></td>
  <td class="odd"><{$channel.author_email}></td>
 </tr>
<{/if}>
<{if $channel.author_uri != ""}>
  <tr>
  <td valign="top" class="head"><{$lang_site_author_uri}></td>
  <td class="odd"><a href="<{$channel.author_uri}>" target="_blank"><{$channel.author_uri}></a></td>
  </tr>
<{elseif $channel.author_url != ""}>
  <tr>
  <td valign="top" class="head"><{$lang_site_author_uri}></td>
  <td class="odd"><a href="<{$channel.author_url}>" target="_blank"><{$channel.author_url}></a></td>
  </tr>
<{/if}>
<{if $channel.generator != ""}>
  <tr>
  <td valign="top" class="head"><{$lang_site_generator}></td>
  <td class="odd"><{$channel.generator}></td>
  </tr>
<{/if}>
<{if $channel.category != ""}>
  <tr>
  <td valign="top" class="head"><{$lang_site_category}></td>
  <td class="even"><{$channel.category}></td>
  </tr>
<{/if}>
<{if $channel.rights != ""}>
  <tr>
  <td valign="top" class="head"><{$lang_site_rights}></td>
  <td class="odd"><{$channel.rights}></td>
  </tr>
<{/if}>
<{if $channel.icon != ""}>
  <tr>
  <td valign="top" class="head"><{$lang_site_icon}></td>
  <td class="odd"><{$channel.icon}></td>
  </tr>
<{/if}>
<{if $channel.logo != ""}>
  <tr>
  <td valign="top" class="head"><{$lang_site_logo}></td>
  <td class="odd"><{$channel.logo}></td>
  </tr>
<{/if}>
<{if $channel.contributor_name != ""}>
  <tr>
  <td valign="top" class="head"><{$lang_site_contributor_name}></td>
  <td class="odd"><{$channel.contributor_name}></td>
  </tr>
<{/if}>
<{if $channel.contributor_email != ""}>
  <tr>
  <td valign="top" class="head"><{$lang_site_contributor_email}></td>
  <td class="odd"><{$channel.contributor_email}></td>
  </tr>
<{/if}>
<{if $channel.contributor_uri != ""}>
  <tr>
  <td valign="top" class="head"><{$lang_site_contributor_uri}></td>
  <td class="odd"><a href="<{$channel.contributor_uri}>" target="_blank"><{$channel.contributor_uri}></a></td>
  </tr>
<{elseif $channel.contributor_url != ""}>
  <tr>
  <td valign="top" class="head"><{$lang_site_contributor_uri}></td>
  <td class="odd"><a href="<{$channel.contributor_url}>" target="_blank"><{$channel.contributor_url}></a></td>
  </tr>
<{/if}>
<{if $channel.dc != ""}>
  <{foreach key=key item=item from=$channel.dc}>
    <tr>
    <td valign="top" class="even">dc:<{$key}></td>
    <td class="odd"><{$item}></td>
    </tr>
  <{/foreach}>
<{/if}>
<{section name=i loop=$items}>
  <tr class="head"><td colspan="2">
    <{if ($items[i].title != "") && ($items[i].link != "") }>
      <a href="<{$items[i].link}>" target="_blank"><{$items[i].title}></a>
    <{elseif $items[i].link != ""}>
      <a href="<{$items[i].link}>" target="_blank"><{$items[i].link}></a>
    <{elseif $items[i].title != ""}>
      <{$items[i].title}>
    <{else}>
      No Title &amp; Link
    <{/if}>
  </td></tr>
  <{if $items[i].updated_long != ""}>
    <tr>
    <td class="even"><{$lang_updated}></td>
    <td class="odd" ><{$items[i].updated_long}></td>
    </tr>
  <{elseif $items[i].updated != ""}>
    <tr>
    <td class="even"><{$lang_updated}></td>
    <td class="odd" ><{$items[i].updated}></td>
    </tr>
  <{elseif $items[i].modified_long != ""}>
    <tr>
    <td class="even"><{$lang_updated}></td>
    <td class="odd"><{$items[i].modified_long}></td>
    </tr>
  <{elseif $items[i].modified != ""}>
    <tr>
    <td class="even"><{$lang_updated}></td>
    <td class="odd"><{$items[i].modified}></td>
    </tr>
  <{/if}>
  <{if $items[i].published_long != ""}>
    <tr>
    <td class="even"><{$lang_published}></td>
    <td class="odd" ><{$items[i].published_long}></td>
    </tr>
  <{elseif $items[i].published != ""}>
    <tr>
    <td class="even"><{$lang_published}></td>
    <td class="odd" ><{$items[i].published}></td>
    </tr>
  <{elseif $items[i].issued_long != ""}>
    <tr>
    <td class="even"><{$lang_published}></td>
    <td class="odd"><{$items[i].issued_long}></td>
    </tr>
  <{elseif $items[i].issued != ""}>
    <tr>
    <td class="even"><{$lang_published}></td>
    <td class="odd"><{$items[i].issued}></td>
    </tr>
  <{/if}>
  <{if $items[i].created_long != ""}>
    <tr>
    <td class="even"><{$lang_created}></td>
    <td class="odd"><{$items[i].created_long}></td>
    </tr>
  <{elseif $items[i].created != ""}>
    <tr>
    <td class="even"><{$lang_created}></td>
    <td class="odd"><{$items[i].created}></td>
    </tr>
  <{/if}>  <tr>
    <td class="even"><{$lang_author_name}></td>
    <td class="odd"><{$items[i].author_name|default:"&nbsp;"}></td>
  </tr>
  <{if $items[i].author_email != ""}>
    <tr>
    <td class="even"><{$lang_author_email}></td>
    <td class="odd"><{$items[i].author_email}></td>
    </tr>
  <{/if}>
  <{if $items[i].author_uri != ""}>
    <tr>
    <td class="even"><{$lang_author_uri}></td>
    <td class="odd"><a href="<{$items[i].author_uri}>" target="_blank"><{$items[i].author_uri}></a></td>
    </tr>
  <{elseif $items[i].author_url != ""}>
    <tr>
    <td class="even"><{$lang_author_uri}></td>
    <td class="odd"><a href="<{$items[i].author_url}>" target="_blank"><{$items[i].author_url}></a></td>
    </tr>
  <{/if}>
  <tr>
    <td class="even"><{$lang_entry_id}></td>
    <td class="odd" ><{$items[i].id}></td>
  </tr>
  <{if $items[i].category != ""}>
    <tr>
    <td class="even"><{$lang_category}></td>
    <td class="odd" ><{$items[i].category}></td>
    </tr>
  <{/if}>
  <{if $items[i].rights != ""}>
    <tr>
    <td class="even"><{$lang_rights}></td>
    <td class="odd"><{$items[i].rights|default:"&nbsp;"}></td>
    </tr>
  <{/if}>
  <{if $items[i].contributor_name != ""}>
    <tr>
    <td class="even"><{$lang_contributor_name}></td>
    <td class="odd"><{$items[i].contributor_name}></td>
    </tr>
  <{/if}>
  <{if $items[i].contributor_email != ""}>
    <tr>
    <td class="even"><{$lang_contributor_email}></td>
    <td class="odd"><{$items[i].contributor_email}></td>
    </tr>
  <{/if}>
  <{if $items[i].contributor_uri != ""}>
    <tr>
    <td class="even"><{$lang_contributor_uri}></td>
    <td class="odd"><a href="<{$items[i].contributor_uri}>" target="_blank"><{$items[i].contributor_uri}></a></td>
    </tr>
  <{elseif $items[i].contributor_url != ""}>
    <tr>
    <td class="even"><{$lang_contributor_uri}></td>
    <td class="odd"><a href="<{$items[i].contributor_url}>" target="_blank"><{$items[i].contributor_url}></a></td>
    </tr>
  <{/if}>
  <{if $items[i].dc != ""}>
    <{foreach key=key item=item from=$items[i].dc}>
      <tr>
      <td class="even">dc:<{$key}></td>
      <td class="odd"><{$item}></td>
      </tr>
    <{/foreach}>
  <{/if}>
  <{if $items[i].summary != ""}>
    <tr>
    <td class="even"><{$lang_summary}></td>
    <td class="odd"><{$items[i].summary|wordwrap:140}></td>
    </tr>
  <{/if}>
  <{if $items[i].content != ""}>
    <tr>
    <td class="odd" colspan="2"><{$items[i].content|wordwrap:140}></td>
    </tr>
  <{/if}>
<{/section}>
</table>
