<{* $Id: whatsnew_main_date.html,v 1.2 2007/12/02 02:48:04 ohwada Exp $ *}>

<div align="right">
<{$welcome}><br />
<{$lang_cached_time}>: <{$cached_time}><br />
<a href="index.php?op=refresh">[<{$lang_refresh}>]</a>
</div>

<ul>
<{foreach item=module from=$modules}>
  <li>
   <a href="#<{$module.mid}>"><{$module.mod_title}></a>
  </li>
<{/foreach}>
</ul>
<br />

<{foreach item=module from=$modules}>
  <a name="<{$module.mid}>"></a>

  <{if $module.mod_link && $module.mod_icon_link }>
    <a href="<{$module.mod_link}>">
    <img src="<{$module.mod_icon_link}>" alt="<{$module.mod_title}>"> 
    <{$module.mod_title}></a>
  <{elseif $module.mod_icon_link }>
    <img src="<{$module.mod_icon_link}>" alt="<{$module.mod_title}>"> 
    <{$module.mod_title}>
  <{else}>
    <{$module.mod_title}>
  <{/if}>
  <br />

  <ul>
  <{foreach item=line from=$module.lines}>
    <li>
      <{if $line.link && $line.banner_url && $line.banner_width && $line.banner_height}>
        <a href="<{$line.link}>">
        <img src="<{$line.banner_url}>" width="<{$line.banner_width}>" height="<{$line.banner_height}>" border="0" alt="banner" />
        </a>
      <{elseif $line.link && $line.banner_url}>
        <a href="<{$line.link}>">
        <img src="<{$line.banner_url}>" border="0" alt="banner" /></a>
      <{elseif $line.banner_url}>
        <img src="<{$line.banner_url}>" border="0" alt="banner" />
      <{/if}>
      <{if $line.link && $line.title }>
        <a href="<{$line.link}>"><{$line.title}></a>
      <{elseif $line.title}>
        <{$line.title}>
      <{/if}>
      <{if $line.date }>
        (<{$line.date}>)
      <{/if}>
      <{if $line.show_today && $line.today_strings }>
        <span style="<{$line.today_style}>"><{$line.today_strings}></span>
      <{elseif $line.show_newday && $line.newday_strings }>
        <span style="<{$line.newday_style}>"><{$line.newday_strings}></span>
      <{/if}>
      <br />
      <{if $line.summary }>
        <span style="font-size: 90%"><{$line.summary}></span>
        <br />
      <{/if}>
      <{if $line.link && $line.image && $line.width && $line.height }>
        <a href="<{$line.link}>">
        <img src="<{$line.image}>" width="<{$line.width}>" height="<{$line.height}>" border="0" alt="image" />
        </a><br />
      <{elseif $line.link && $line.image }>
        <a href="<{$line.link}>">
        <img src="<{$line.image}>" border="0" alt="image" />
        </a><br />
      <{elseif $line.image }>
        <img src="<{$line.image}>" border="0" alt="image" />
        <br />
      <{/if}>
      <br />
    </li>
  <{/foreach}>
  </ul>

<{/foreach}>
